#content {
	margin: 0 auto;
	width: 900px;
}

#title {
	font-size: 1em;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #000000;
	width: 60%;
	min-width: 500px;
	margin: 0 auto;
}