h1 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	color: black;
}


#header img {
	max-width: 1000px;
	margin:  0 auto;
	width: 100%;
}

body {
	font-family: 'Merriweather', serif;
	font-size:  1em;
	color: #444;
	font-weight: 400;
}

#content {
	margin: 0 auto;
	max-width: 900px;
}

h2 {
	color: #E03A3E;
	font-weight: 700;
	text-decoration: underline;
}

h3 {
	color: black;
}

blockquote {
	font-size: 1em;
	text-align: center;
	padding: 5px;
	color: black;
	font-style: italic;
	background-color: #fff103;
	padding: 5px
}

.topnav {
	background-color: #f5d2d8;
 	overflow: hidden;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

#